<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        
        {% if site.about == true %}
            {% if page.title != "About Me" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/#about">About</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/#projects">Projects</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.research == true %}
            {% if page.title != "Research" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/#research">Research</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.awards == true %}
            {% if page.title != "Awards" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/#awards">Awards</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.coursework == true %}
            {% if page.title != "Contact" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}">Contact</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
