.home > .myresearch,
.home > .myprojects,
.blog,
.awards,
.research,
.coursework,
.projects
    margin-top: 30px

    > .list
        border-top: 1px solid $epsilon
        margin-top: 10px
        padding-top: 20px
        margin-bottom: 20px
        padding-bottom: 30px
        position: relative
        list-style: none

        &:before
            display: block
            content: " "
            width: 7px
            height: 7px
            border: $epsilon 1px solid
            position: absolute
            top: -5px
            left: 50%
            margin-left: -5px
            background: #FFF
            box-shadow: #FFF 0 0 0 5px
            border-radius: 3px

.home > .myresearch > .list,
.home > .myprojects > .list,
.blog > .list,
.awards > .list,
.research > .list,
.coursework > .list,
.projects > .list
    > .item
        display: block
        float: left
        margin: 0
    
    > .item > .image
        position: relative
        width:  100%
        height:  100%
        
    > .item > .image > .url
        position: absolute
        width: 90%
        top: 10px
        display: block
        padding: 10px 10px 10px 10px
        text-decoration: none

    > .item > .image > .url > .title
        margin: 10
        width: 100%
        font-size: 1.6rem
        font-weight: 500
        transition: all ease-in-out .2s
        color: $beta
        opacity: 0

    > .item:hover > .image > .url > .title
        color: $orangered
        opacity: 1
        
    > .item:hover > .image > .backgroundimage
        opacity: 0

    > .item > .image > .url > .description
        margin: 5
        width: 75%
        font-size: 1.4rem
        font-weight: 500
        transition: all ease-in-out .2s
        color: #FFF
        opacity: 0
       
    > .item:hover > .image > .url > .description
        color: #FFF
        opacity: 1
        
    > .item:hover > .image
        background-color: $beta

    // maybe we can't nest html5 elements
    // can you help me?
    aside
        position: relative
        top: 0px
        right: 3px
        width: 25%
        float: right
        font-weight: 300
        color: $gama
        text-align: right
        transition: all ease-in-out .2s
        opacity: 0

    .item:hover .url aside
        color: #FFF
        opacity: 1

.home > .myprojects > .list,
.projects > .list
    > .item
        width: 25%
    > .item > .image > .backgroundimage
        width:  220px
        height: 200px
        
.home > .myresearch > .list    
    > .item
        width: 33%
    > .item > .image > .backgroundimage
        width:  230px
        height: 150px
        
.awards > .list > .item > .image > .url,
.research > .list > .item > .image > .url,
.coursework > .list > .item > .image > .url,
.projects > .list > .item > .image > .url
    > .title
        display: inline

    > .emoji
        display: inline
        position: relative
        top: -4px
        margin-right: 10px
